<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand">TvShows Maze Client</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          (click)="collapsed = !collapsed" aria-controls="navbarNav"
          [attr.aria-expanded]="collapsed" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav" [ngbCollapse]="collapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Shows <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Calendar</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <div ngbDropdown>
        <a class="dropdown-toggle" id="profileDropdown" ngbDropdownToggle>Username</a>
        <ul class="dropdown-menu dropdown-menu-right"ngbDropdownMenu aria-labelledby="profileDropdown">
          <li class="dropdown-item"><a>Logout</a></li>
        </ul>
      </div>
    </ul>
  </div>
</nav>
